<div id="account">
<b>I'm a velocity template.</b>

  	<table>
		<thead>
			<tr class="odd">
				<td class="column1"></td>
				<th scope="col" abbr="Home">First Name</th>
				<th scope="col" abbr="Premium">Last Name</th>
			</tr>
		</thead>		  
		<tbody>
			#foreach( $account in $accountList )
				<tr>
					<td class="column1"><img src="../images/ch.png" alt="included"
						width="16" height="16"></td>
					<th scope="row">$account.firstName</th>
					<th scope="row">$account.lastName</th>
				</tr>
			  #end
		</tbody>	  
	</table>
  
</div>

<b><i>End of velocity template.</i></b>