<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<appender name="Error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<OnMatch>NEUTRAL</OnMatch>
			<OnMismatch>DENY</OnMismatch>
		</filter>

		<File>${catalina.base}/logs/errors.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.base}/logs/errors-%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			  <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	<appender name="Warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<OnMatch>NEUTRAL</OnMatch>
			<OnMismatch>DENY</OnMismatch>
		</filter>
		<File>${catalina.base}/logs/warns.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.base}/logs/warns-%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
             <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	<appender name="Info" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<OnMatch>NEUTRAL</OnMatch>
			<OnMismatch>DENY</OnMismatch>
		</filter>
		<File>${catalina.base}/logs/infos.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.base}/logs/infos-%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
             <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>	
	
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

	<appender name="Debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<bufferedIO>true</bufferedIO>
		<File>${catalina.base}/logs/debug.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.base}/logs/debug-%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			  <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	<appender name="DebugFlow" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<bufferedIO>true</bufferedIO>
		<File>${catalina.base}/logs/debug-n4jflows.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.base}/logs/debug-n4jflows-%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			  <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<appender name="DebugPerformance" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<bufferedIO>true</bufferedIO>
		<File>${catalina.base}/logs/debug-performance.log</File>
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.base}/logs/debug-performance-%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			  <Pattern>%d{HH:mm:ss.SSS} - %msg%n</Pattern>
		</layout>
	</appender>
	<appender name="WarnConsole" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				[%date{yyyy-MM-dd HH:mm:ss.SSS z}] [%thread] %-5level %logger{36} %marker - %msg %ex%n %mdc{request.info}%n
			</Pattern>
		</layout>
	</appender>

	<appender name="TraceConsole" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<OnMatch>ACCEPT</OnMatch>
			<OnMismatch>DENY</OnMismatch>
		</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				[%date{yyyy-MM-dd HH:mm:ss.SSS z}] [%thread] %-5level %logger{36}  - %msg %ex%n
			</Pattern>
		</layout>
	</appender>


	<root>
		<appender-ref ref="Error" />
		<appender-ref ref="Warn" />	
		<appender-ref ref="WarnConsole" />
	</root>

	<logger name="org.neuro4j">
	    <level value="DEBUG" />
		<appender-ref ref="Error" />
		<appender-ref ref="DebugFlow" />		
	</logger>
	<!-- 
	<logger name="PERFORMANCE_DB">
	    <level value="DEBUG" />
		<appender-ref ref="DebugPerformance" />		
	</logger>
	 -->
	 

	<logger name="javax">
	    <level value="INFO" />
	</logger>


	<logger name="tomcat">
	    <level value="INFO" />
	</logger>

	<logger name="sun">
		<level value="INFO" />
	</logger>




</configuration>